html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    '微软雅黑', Arial, sans-serif;
    --background-color: #f8f8f8;
    /* color */
    --aside-color: rgb(248, 248, 248);
    --div-color:  rgb(255, 255, 255);
    --border-color: rgb(210, 217, 221);
    --page-header-color: rgb(165, 210, 236);
    --blog-card-color: white;
    --blog-card-hover-color: rgb(245, 248, 250);
    --hover-color: rgb(199, 214, 220);
    --footer-color:  rgb(144, 162, 165);
    --border-shadow-color-1: rgba(152, 152, 152, 0.2);
    --border-shadow-color-2: rgba(219, 219, 219, 0.2);
    --font-color: rgb(53, 63, 94);
    --font-hover-color: rgb(89, 107, 158);
    color: var(--font-color);   

    /* div height */
    --header-height: 4rem;

    /* div width */
    --sidebar-width: 35%;
    --main-container-width: calc(100% - var(--sidebar-width));
}

